html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.carousel {
  min-height: 500px;
  margin-bottom: 10vh;
}

.card-text {
  line-height: 2;
  font-size: 18px;
}

.image-card {
  padding-bottom: 1rem;
}

.idea-question, .idea-answer {
  line-height: 2;
  font-size: 18px;
}

.card-image-container {
  min-height: 60%; /* Provavelmente irá mudar no iPad*/
}